.nav-menu li{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #FF4141;
}
.nav-dropdown{
 display: none;   
}

@media(max-width:1280px){
  .navbar{
    padding: 14px 50px;
  }
  .nav-logo img{
    width: 40px;
  }
  .nav-logo p{
    font-size: 25px;
  }
  .nav-menu{
    gap: 30px;
    font-size: 15px;
  }
  .nav-login-cart{
    gap: 30px;
  }
  .nav-login-cart button{
      width: 118px;
      height: 43px;
      font-size: 15px;
  }
  .nav-cart-count{
    @apply ml-[-40px] text-[12px]
  }
}

@media (max-width:1024px){
  .navbar{
    @apply p-[10px_30px]
  }
  .nav-menu{
    @apply gap-[25px] text-[14px]
  }
  .nav-login-cart button{
    @apply w-[80px] h-[35px] text-[14px]
  }
  .nav-login-cart img{
    @apply w-[30px]
  }
  .nav-cart-count{
    @apply w-[17px] h-[17px] mt-[-30px] text-[12px]
  }
}

@media(max-width:800px){
  .navbar{
    @apply py-[10px]
  }
  .nav-dropdown{
    @apply block scale-[0.7] rotate-[-90deg] transition duration-[0.5s]
  }
  .nav-menu{
    @apply hidden h-[75px] w-[100%] absolute bg-white justify-center top-[55px]
  }
  .nav-menu-visible{
    @apply flex
  }
  .nav-dropdown.open{
    @apply rotate-[0deg]
  }
}

@media(max-width:500px){
  .navbar{
    @apply w-[8px_0px] gap-[0] 
  }
  .nav-logo{
    @apply scale-[0.85]
  }
  .nav-menu{
    @apply h-[60px] top-[55px]
  }
  .nav-login-cart {
    transform: scale(0.85)
  }
}